*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color:black;
    color:aquamarine;
    font-size: 25px;
    border-bottom: solid 2px gray;
    padding: 20px;

}

.chamada{
    display: flex;
    justify-content: center;
    background-color: rgb(182, 230, 12);


}

.chamada-texto{
    margin-right: 5%;

}

img{
    height: 200px;
}



.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
.boasvindas{
    background-color: aqua;
    font-size: 30px;

}